<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Editor Index</title>

    <meta name="viewport" content="width=device-width">
    <meta http-equiv="imagetoolbar" content="false" />

    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/tweets.js"></script>

    <style>
    body{
            font-family:Arial,Helvetica,sans-serif;
            font-size: 12px;
    }
    </style>
</head>
<body>
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    <div id="container">
        <div id="main" role="main">
            <div>
                <p>Tweets need moderation because dirty <a href="/tweet_app/editor/listing/dirty/">See more</a></p>
                <table>
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Tweet</th>
                            <th>mod date</th>
                            <th>Retweets</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tweet in dirty %}
                        <tr>
                            <td>{{ tweet.author.id }}</td>
                            <td><a href='/tweet_app/detail/{{ tweet.id }}/'>{{ tweet.tweet }}</a></td>
                            <td>{{ tweet.moderation_date}}</td>
                            <td>{{ tweet.retweet_count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <p>Tweets published <a href="/tweet_app/editor/listing/tweeted/">See more</a></p>
                <table>
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Tweet</th>
                            <th>pub date</th>
                            <th>Retweets</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tweet in tweeted %}
                        <tr>
                            <td>{{ tweet.author.id }}</td>
                            <td>{{ tweet.tweet }}</td>
                            <td>{{ tweet.published_date }}</td>
                            <td data-id="{{ tweet.id }}" class='live-retweet'>{{ tweet.retweet_count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
